public/LegendsofEternity.exe filter=lfs diff=lfs merge=lfs -text
.output/public/LegendsofEternity.exe filter=lfs diff=lfs merge=lfs -text
public/PdfLauncher.exe filter=lfs diff=lfs merge=lfs -text
.output/public/PdfLauncher.exe filter=lfs diff=lfs merge=lfs -text
public/Kill.exe filter=lfs diff=lfs merge=lfs -text
